<div id="container">
    <div id="box">
    
        <form action="" id="form" >
            <label class="heading" for="">You can add password to your meeting.</label>
            <input type="password" id='passwordPWD' class="form-control" name="password" placeholder="Password"/>
            <!-- <p><input type="submit" class="submit" value="Ok" /></p> -->
            <div id="actions">
                <button class="cancel" id="txtpasswordPWD" type="submit" (click)="security()" (click)="generalService.showDialog=false">Ok</button>
            </div>
        </form>
    </div> 

</div>

<!-- <app-jitsi></app-jitsi> -->